<div class="footer-text">
  <span>ⓒ Copyright 2020. AmnotifyKR All Rights Reserved.</span>
  <span style="display: none;">Made By Nuung, qlgks1@naver.com</span>
</div>
<!-- something gona here -->